
#column-one{
    width: 50%;
    background-color: red;
}
#column-two{
    width: 50%;
    background-color: cyan;
    float: right;
}

#letter-display{
    background-color: rgb(127, 127, 192);
}

#guessed-display{
    background-color: purple;
}

#guesses-remaining-container{
    background-color: green;
}

h1{
    text-align: center;
}

#head{
    display: hidden;
}

#body{
    display: hidden;
}

#left-leg{
    display: hidden;
}

#both-legs{
    display: hidden;
}

#one-arm-with-legs{
    display: hidden;
}

