#letter-container{
    border-color: blue;
    text-align: center;
    font-size: 5vw;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#guessed-display{
    background-color: purple;
    color: white;
}

img {
    border-width: 3px;
    border-color: black;
}


