body {
    /* border: 20px ridge rgb(141, 141, 141); */
    /* border-radius: 20px; */
    background-color: rgb(0, 54, 0);
}
h1 {
    text-align: center;
    font-family: 'Kalam', cursive;
    color: white;
}
p {
    text-align: center;
    color: white;
}
#guessLetterCenter {
    text-align: center;
    color: white;
}
#guess-text-id {
    font-family: 'Kalam', cursive;
}
#submit {
    padding: 10px 30px;
    font-size: 15px; 
    margin: 20px;
}

#myCanvas {
    border: 10px ridge gray;
    background: white;
}
#everything {
    border: 15px ridge gray;
    /* width: 50vw; */
}
@media (max-width: 1000px) {
    #myCanvas {
        width: 50%;
    }
}
@media (max-width: 480px) {
    #myCanvas {
        width: 90%;
    }
}

.blanks {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px; 
}
.letter {
    margin: 0 5px;
    border-bottom: 5px solid black;
    min-width: 20px;
}
